body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #849571;
    color: white;
}

#game-container {
    text-align: center;
}

h1{
    margin: 0;
}


.game-time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#timer #score {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}


#game-controls {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.control-button {
    background-color: #CFCE95;
    border: none;
    color: white;
    padding: 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #B4BB87;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 20px;
}

.card {
    width: 60px;
    height: 90px;
    background-color: #F4E2B2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card.flipped {
    background-color: #B4BB87;
}

#win-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #849571;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


#game-over-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #849571;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#close-popup #close-game-over-popup {
    background-color: #CFCE95;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em
    }
    .control-button {
        padding: 10px;
        font-size: 16px;
    }

    .card {
        width: 40px;
        height: 70px;
    }
}