body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-image: url(background.jpg);
    color: white;
}

#game-container {
    text-align: center;
    background-color: rgba(132, 149, 113, 0.9);
}

h1{
    margin: 0;
}


.game-time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#timer #score {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}


#game-controls {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.control-button {
    background-color: #CFCE95;
    border: none;
    color: white;
    padding: 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #B4BB87;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 20px;
}

.card {
    width: 60px;
    height: 90px;
    background-color: #F4E2B2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card.flipped {
    background-color: #B4BB87;
}

#win-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #849571;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


#game-over-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #849571;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


#close-popup {
    background-color: #CFCE95;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


#close-game-over-popup {
    background-color: #CFCE95;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}



.loader {
    background-color: rgba(132, 149, 113, 0.8);
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    animation: l9 5s infinite cubic-bezier(0.3,1,0,1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    padding: 20px;
    border-radius: 10px;
}

.loader:before {
    content: "Loading..."
}

@keyframes l9 {
    0%  {text-shadow: 0    0 #F1EDE4, 11ch 0 #A8C2A9, 22ch 0 #CFCE95, 33ch 0 #00A0B0,44ch 0 #000}
    25% {text-shadow:-11ch 0 #F1EDE4,  0ch 0 #A8C2A9, 11ch 0 #CFCE95, 22ch 0 #00A0B0,33ch 0 #000}
    50% {text-shadow:-22ch 0 #F1EDE4,-11ch 0 #A8C2A9,  0ch 0 #CFCE95, 11ch 0 #00A0B0,22ch 0 #000}
    75% {text-shadow:-33ch 0 #F1EDE4,-22ch 0 #A8C2A9,-11ch 0 #CFCE95,  0ch 0 #00A0B0,11ch 0 #000}
    100%{text-shadow:-44ch 0 #F1EDE4,-33ch 0 #A8C2A9,-22ch 0 #CFCE95,-11ch 0 #00A0B0, 0ch 0 #000}
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em
    }
    .control-button {
        padding: 10px;
        font-size: 16px;
    }

    .card {
        width: 40px;
        height: 70px;
    }
}